body {
    background-color: #F3EEEA;
}

div {
    font-family: 'Bodoni Moda';
}

a {
    color: black;
}

.container-index {
    margin-left: 4rem;
    width: 10%;
}

.text {
    grid-column: 3 / span 2;
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.top {
    grid-column: 5 / span 6;
    grid-row: 1;
    padding-top: 10%;
    z-index: 1;
}

.bottom {
    grid-column: 7 / -1;
    grid-row: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    justify-items: center;
    row-gap: 15px;
}

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    justify-items: center;
}

.text-about {
    grid-column: 3 / span 5;
}

.selfie {
    grid-column: 9;
}

/* @media (max-width: 930px) { 
    img {
        max-width: 35vh;
    }
} */